<html>



<body>

    <table border="2">
		<tr>
			<td>Name</td>
			<td>:</td>
			<td> <%= user.name  %></td>
		</tr>
		<tr>
			<td>Description</td>
			<td>:</td>
			<td> <%= user.description  %></td>
		</tr>
		<tr>
			<td>IsPrivate</td>
			<td>:</td>
			<td> <%= user.IsPrivate  %></td>
		</tr>
		<tr>
			<td>Createdat</td>
			<td>:</td>
			<td> <%= user.createdAt  %></td>
		</tr>
		<tr>
			<td>Image</td>
			<td>:</td>
			<td> <%= user.Image  %></td>
		</tr>
		<tr>
			<td>Members</td>
			<td>:</td>
			<td><%= user.length   %> </td>
		</tr>



</table>

</body>


</html>