<html>
<body>
<h2>  List Groups :  </h2>

<a href="/group/addgroup"> Add group </a>

<table border="2">

	<tr>
		<td>ID</td>
		<td>Name</td>
		<td>CreatedBy</td>
		<td>Topic </td>
		<td>Description </td>
		<td>IsPrivate</td>
		<td>Created At</td>
		<td>Coins</td>
		<td>Reports</td>
		<td>Image</td>
		<td>Action</td>
	</tr>
<% if(users.length > 0) {  %>
<% for(var i=0 ; i< users.length ; i++) {    %>
<tr>
		<td><%= users[i]._id   %></td>
		<td><%= users[i].name   %></td>
		<td><%= users[i].CreatedBy   %></td>
		<td><%= users[i].Topic   %></td>
		<td><%= users[i].description   %> </td>
		<td><%= users[i].IsPrivate   %> </td>
		<td><%= users[i].createdAt   %> </td>
		<td><%= users[i].Coins     %> </td>
		<td><%= users[i].Reports     %> </td>
		<td><img src="/public/uploads/<%=users[i].Image %>" width="200px"></td>
		<td>
			<a href="/group/edit/group/<%= users[i]._id   %>">Edit</a>
			<a href="/group/delete/<%= users[i]._id   %>">Remove</a>
			<a href="/group/<%= users[i]._id   %>">Show</a>
		</td>
</tr>
<%   }  %>
<%   }else{  %>
<h3> No group found !!! </3>
<%   }  %>
</table>

</body>


</html>