<html>

<body>
<form action="/group/edit/<%= user._id %>" method="post">
<table>

	<tr>
		<td>Name</td>
		<td>:</td>
		<td> <input type="text" name="name" value="<%= user.name %>" ></td>
	</tr>
	<tr>
		<td>Description</td>
		<td>:</td>
		<td> <input type="text" name="description" value="<%= user.description %>" ></td>
	</tr>
	<tr>
		<td>IsPrivate</td>
		<td>:</td>
		<td> <input type="text" name="IsPrivate" value="<%= user.IsPrivate %>" ></td>
	</tr>
	
	<tr>
		<td>Image</td>
		<td>:</td>
		<td> <input type="text" name="Image" value="<%= user.Image %>" ></td>
	</tr>
	<tr>
		<td>
			<input type="submit" name="btn" value="Edit">
			<input type="reset" name="btn" value="Reset">
		</td>
	</tr>


</table>
</form>
</body>


</html>